{% extends 'base-back.html.twig' %}

{% block title %}
    {{ produit.nom  }}
{% endblock %}

{% block body %}

    <div class="container">
        <h1>{{ produit.nom }}</h1>
        <p>
            {{ produit.designation }}
        </p>

        {# <figure>
            <img src="https://picsum.photos/200/300" alt="photo">
        </figure>
        #}
    </div>
{% endblock %}