{% extends 'base-back.html.twig' %}

{% block title %}Hello BackEvenementController!{% endblock %}

{% block body %}
    <span class="author"><i class="fas fa-user"></i> Admin</span>
    <span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
{% endblock %}
